:root{
    --white-color: white;
    --black-color:black;
    --text-color:#333;
    --height-header:14rem;
    --height-navbar:3.2rem;
    --height-header-search:calc(var(--height-header) - var(--height-navbar));
    --height-header-sort-bar:4.6rem;
}
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@keyframes movement{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform:scale(0.7);
    }
    to{
        transform:scale( 1);
    }
}

/* modal css */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: movement linear 0.1s;
}
.modal__container{
    width: 440px;
    background-color: #fff;
    border-radius: 5px;
    animation: growth linear 0.15s;
}
.auth__box{
    max-width: 400px;
    margin: auto;
}
.auth__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.auth__text>h3{
    font-size: 20px;
}
.auth__text>span{
    font-size: 15px;
    color: rgb(245, 88, 9);
    cursor: pointer;
}
.auth__form{
    margin:24px 0;
}
.auth__form--item + .auth__form--item{
    margin-top: 16px;
}
.auth__form--item>.auth__form--input{
    width: 100%;
    padding-left: 16px;
    height: 40px;
    font-size: 14px;
    border-radius: 3px;
    border: #757575 0.5px solid;
}
.auth__note{
    font-size: 12px;
    margin-bottom: 80px;
    text-align: center;
}
.auth__note a{
    text-decoration: none;
    color: rgb(245, 88, 9) ;
}
.auth__nav{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-bottom: 28px;
}
.auth__nav button{
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    min-width: 100px;
}
.auth__nav--return {
   padding: 12px 16px;
   color: var(--text-color);
   background-color: transparent;
}
.auth__nav--return:hover{
    background-color: #ccc;
    color: #fff;
    opacity: 0.7;
}
.auth__nav--confirm{
   background-color: rgb(245, 88, 9) ;
   color: var(--white-color);
   padding: 12px 16px;
   margin-left: 20px;
}
.auth__nav--confirm:hover{
    opacity: 0.7;
}
.auth__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 2rem;
    background-color: #ccc;
    background-origin: padding-box ;
}
.auth__social>button{
    width: 40%;
    justify-content: space-evenly;
    display: flex;
    padding: 8px 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.auth__social>button>i{
    padding: 0 8px;
}
.auth__social>button>h4{
    font-weight: 400;
    font-size: 12px;
}
.auth__social--facebook{
    color: #fff;
    background-color: dodgerblue;
}
.auth__social--gg>h4{
    opacity: 0.6;
}
.btn-disable{
    color: #949494;
    background-color: #c3c3c3;
    cursor: default;
}
.auth__help{
    margin-bottom: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth__help--link{
    font-size: 12px;
    text-decoration: none;
}
.auth__help--link:first-child{
    color:rgb(245, 88, 9) ;
    padding-right: 9px;
    border-right: #c3c3c3 solid 1px ;
}
.auth__help--link:last-child{
    color: #ccc;
    padding-left: 8px;
}